---
import { Image } from "astro:assets";
import CheckCircle from "../assets/check_circle.svg";
import Link from "./ui/link.astro";

const pricing = [
	{
		plan: "Free",
		price: "$0.00",
		button: "GET STARTED",
		inclusions: [
			{
				item: "2 chat bots only",
			},
			{
				item: "10,000 chat tokens only",
			},
			{
				item: "10,000 data tokens only",
			},
			{
				item: "Chatbot UI Customization",
			},
			{
				item: "Talk with a human",
			},
			{
				item: "GPT-3.5 only",
			},
		],
	},
	{
		plan: "Basic",
		price: "$14.00",
		button: "GET STARTED",
		inclusions: [
			{
				item: "Max of 3 chat bots",
			},
			{
				item: "1,000,000 chat tokens",
			},
			{
				item: "1,000,000 data tokens",
			},
			{
				item: "Chatbot UI Customization",
			},
			{
				item: "Talk with a human",
			},
			{
				item: "Option to use latest AI Models (eg. GPT-4)",
			},
		],
	},
	{
		plan: "Enterprise",
		price: "Contact Sales",
		button: "CONTACT SALES",
		inclusions: [
			{
				item: "Need a custom package for your business? Contact sales on how we can help!",
			},
		],
	},
];
---

<div id="pricing" class="max-w-screen-xl mx-auto px-5 my-40">
	<div class="mt-16 md:mt-0">
		<h2 class="text-5xl font-bold lg:tracking-tight">Pricing</h2>
	</div>

	<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
		{
			pricing.map((item) => (
				<>
					<div class="border-solid border-2 rounded py-6 px-8">
						<div class="grid grid-cols-2">
							<h3 class="font-bold text-lg">{item.plan}</h3>
							{item.plan === "Basic" && (
								<h3 class="my-auto mx-5 py-1 text-white text-center text-sm bg-green rounded-2xl">
									Most Popular
								</h3>
							)}
						</div>

						<p class="text-3xl font-bold mt-2 mb-6">
							{item.price}
							{item.price != "Contact Sales" && (
								<span class="text-sm">/month</span>
							)}
						</p>

						<Link href="#" size="md" style="inverted" class="block mb-5">
							{item.button}
						</Link>
						<ol>
							{item.inclusions.map((item) =>
								item.item !=
								"Need a custom package for your business? Contact sales on how we can help!" ? (
									<div class="flex gap-4 my-3">
										<Image alt="CheckCircle" src={CheckCircle} />
										<li>{item.item}</li>
									</div>
								) : (
									<li>{item.item}</li>
								)
							)}
						</ol>
					</div>
				</>
			))
		}
	</div>
</div>
